@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark: #181818FF,
}

a {
    font: inherit;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    font-weight: 500;
}

ul, ol {
    list-style: none;
}

.wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: aliceblue;
}

.container {
    max-width: 1210px;
    margin: auto;
    padding: 0 20px;
}

.button {
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    background-color: cornflowerblue;
    color: #fff;
    transition: all .3s ease-in-out;
    font-weight: 500;
    font-size: 16px;
    font: inherit;
}

.button:hover {
    background-color: #3765b4;
}

/* Как прижать footer к низу страницы */
html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

/* Header */

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.header__menu {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.copyright {
    display: flex;
    justify-self: center;
    text-align: center;
    font-size: 14px;
}

.login__container {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    border: none;
    outline: 0;
}

.default-input {
    padding: 15px 30px;
    width: 350px;
    border-radius: 4px;
}

button {
    border: none;
    cursor: pointer;
}

.error-text {
    color: red;
}

.category__container {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.category__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.category__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.category__item {
    padding: 15px 30px;
    background-color: antiquewhite;
    color: var(--dark);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category__buttons {
    display: flex;
    gap: 15px;
}

.start-page__container {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.start-page__header {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.start-page-content__image {
    height: 500px;
}

.start-page-content__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.task__container {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.task__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.task__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 30px;
    border-radius: 7px;
}

.task__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task__image {
    height: 150px;
    width: 150px;
}

.task__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.task__category {
    color: cornflowerblue;
    font-weight: 500;
    font-size: 16px;
}

.task__description {
    font-size: 16px;
}

.task__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

textarea {
    height: 300px;
    resize: none;
}

textarea, select {
    border: none;
    font: inherit;
    background-color: white;
}

select {
    cursor: pointer;
    appearance: none;
}

input {
    font: inherit;
}

.task__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.task__form input, .task__form textarea, .task__form select {
    width: 100%;
}

.hidden {
    display: none;
}

.task-form-file {
    padding: 30px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    color: cornflowerblue;
    font-weight: 500;
}

.task__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}

.task__row {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo__logo {
    font-size: 32px;
}

.selected-image {
    height: 200px;
}

.selected-image img {
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.task__categories {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.task-categories__item {
    padding: 15px 30px;
    border: 1px solid rgba(0, 0, 0, 25%);
    border-radius: 30px;
    color: var(--dark);;
    transition: all .3s ease-in-out;
}

.task-categories__item:hover {
    background-color: cornflowerblue;
    color: white;
    border-color: transparent;
}

.message {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 15px 30px;
    color: #ffffff;
    border-radius: 7px;
}

.message.message_error {
    background-color: crimson;
}

.message.message_show {
    background-color: cornflowerblue;
}

.message.message_success {
    background-color: chartreuse;
}

.task__count {
    display: flex;
    align-items: center;
    gap: 15px;
}
